# Ignore node_modules in 4everfrontend and 4everbackend
4everfrontend/node_modules
4everbackend/node_modules

# Added by CesareDev
metamask_cred.txt
smart_contract_notes.txt
4everbackend/.env

# To avoid Conflicts
4everbackend/Truffle/build/contracts/FourEver.json