4everfrontend/node_modules
4everbackend/node_modules
```

# Add by CesareDev
metamask_cred.txt
smart_contract_notes.txt
4everbackend/.env

# To avoid Conflicts
4everbackend/Truffle/build/contracts/FourEver.json