.choice {
    color: white;
    font-family: mephistoregular;
    font-size: 3rem;
    filter: drop-shadow(0px 0px 10px black);
}

.metamask{
    font-size: 2rem;
    margin-top: 1rem;
    color: white;
    filter: drop-shadow(0px 0px 10px black);
    font-family: 'mephistoregular';
}

@media screen and (max-width: 700px) {

    .choice{
        transform: translateY(-3rem) !important;
    }

}
