.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.logo {
    height: 4em;
    will-change: filter;
    transition: filter 300ms;
    pointer-events: none;
}

.main-logo {
    height: 19em;
    margin-top: 10rem;
    margin-bottom: 2em;
    pointer-events: none;
    transition: all 800ms ease-in-out;
}

.main-logo.first {
    transform: translateX(1.1rem);
    filter: drop-shadow(0 0 0.2em black);
}

.main-logo.second {
    transform: translateX(-1.1rem);
    filter: drop-shadow(0 0 1em black);
}

.main-logo.market, .main-logo.quests {
    height: 8em;
    filter: drop-shadow(0 0 1em black);
    cursor: pointer;
    pointer-events: initial;
    transition: all 400ms ease-in-out;
}

.main-logo.market.chosen{
    transform: translate(11rem, -10rem);
    height: 5em;
    pointer-events: none;
    /*Andrea: Modify the margins when adding something below*/
}

.main-logo.market.chosen.reposition{
    transition: none;
    transform: translate(11rem, 1.5rem);
}

.main-logo.quests.chosen{
    transform: translate(-13rem, 13.35rem);
    height: 5em;
    pointer-events: none;
    margin-top: -36rem;
    margin-bottom: 10rem;  
}

.main-logo.quests.chosen.reposition{
    transition: none;
    transform: translate(-13rem, 25rem);
}

.main-logo.market.notchosen, .main-logo.quests.notchosen {
    opacity: 0;
    pointer-events: none;
}

.main-logo.market:hover {
    filter: drop-shadow(0 0 1.5em gold);
}

.main-logo.quests:hover {
    filter: drop-shadow(0 0 1.5em rgb(0, 197, 0));
}

.main-logo.first.resize {
    transform: translateX(0rem);
    transform: translateY(-1rem);
    opacity: 0;
}

.main-logo.second.resize {
    transform: translateX(0rem);
    transform: translateY(-1rem);
    opacity: 0;
}

.main-logo.first.resize, .main-logo.second.resize {
    height: 10em;
    margin-top: -6rem;
}

.merchant.icon{
    height: 20em;
    margin-top: 1rem;
    margin-bottom: 1rem;
    filter: drop-shadow(0 0 1em black);
    pointer-events: none;
    transition: all 400ms ease-in-out;
}

.item.icon{
    height: 20em;
    margin-top: 1rem;
    margin-bottom: 1rem;
    filter: drop-shadow(0 0 1em black);
    pointer-events: none;
    transition: all 400ms ease-in-out;
}

.separator {
    margin: 2rem;
    font-size: 2em;
    border: 2px solid white;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

.figure-image {
    position: absolute;
    width: 30%;
    overflow: hidden;
    filter: drop-shadow(0 0 0.15em black);
    pointer-events: none;
}

.figure-image.left {
    width: 34%;
    left: 0;
    transform: translate(-17px, -418px);
}

.figure-image.right {
    right: 0;
    transform: translate(-48px, -421px);
}

@media screen and (max-width: 1500px) {

    .figure-image.left {
        transform: translate(-56px, -366px);
    }

    .figure-image.right {
        transform: translate(-4px, -370px);
    }
}

@media screen and (max-width: 700px) {

    .item.icon{
        height: 10em;
    }

    .merchant.icon{
        display: none;
    }

    .main-logo.first.resize{
        height: 7em;
        transform: translateX(1rem);
    }

    .main-logo.second.resize{
        height: 7em;
        transform: translateX(1rem);
    }

    .main-logo.market, .main-logo.quests {
        height: 3.5em !important;
    }

    .main-logo.market.chosen{
        transform: translate(5.5rem, 0rem);
    }

    .main-logo.market.chosen.reposition{
        transform: translate(5rem, 3rem);
    }

    .main-logo.quests.chosen{
        transform: translate(-5.5rem, 17rem);
    }

    .main-logo.quests.chosen.reposition{
        transform: translate(-5.5rem, 27rem);
    }

    .figure-image {
        display: none;
    }

    .main-logo {
        height: 12em;
        margin-top: 8rem;
    }
}