/*FONTS*/
@font-face {
  font-family: 'mephistoregular';
  src: url('assets/fonts/mephisto-webfont.woff2') format('woff2'),
       url('assets/fonts/mephisto-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  height: 4em;
  will-change: filter;
  transition: filter 300ms;
  pointer-events: none;
}

.main-logo {
  height: 19em;
  margin-top: 10rem;
  margin-bottom: 2em;
  pointer-events: none;
  transform: translateX(-1rem);
}

.separator {
  margin: 2rem;
  font-size: 2em;
  border: 2px solid white;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@media screen and (max-width: 600px) {
  .main-logo {
    height: 12em;
    margin-top: 8rem;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
